.nada {
    width: 100%;
    height: 400px;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/411/446/desktop-wallpaper-textura-de-pedra-plano-de-fundo-cinza-pedra-cinzenta-cinza.jpg);
    background-size: cover;
    background-position: center;
}